body {
    font-family: arial, sans-serif;
    background: #014d4e;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: none;
}
.header-container {
    position: sticky; /*Sticky header*/
    display: flex; /* Ensure the header is flexible container*/
    align-items: center; /*Centers all items in header*/
    width: 100%;
    height: 75px;
    background: #014d4e;
    z-index: 1;
}
.navbar {
    display: flex; /* Ensure the navbar is also a flex container */
    justify-content: space-between; /* Space between logo and menu */
    width: 100%; /* Ensure the navbar takes up the full width */
}
.header-container .logo {
    margin-left: 25px;
    & a{
      text-decoration: none;
      color: white;
      font-size: 50px;
      font-weight: bold;
    }
}
.navbar .menu {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 25px;
    padding: 0;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar .menu li{
    display: flex;
    font-size: 25px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    &:hover{
      background: #002728;
      text-decoration: underline;
      transition: 300ms ease-in-out;
      padding: 25px;
    }
}
.navbar #login-button{
    width: 100px;
    height: 40px;
    margin: 0 10px 0px 25px; /* Margin set to 0 from top and 25px from sides*/
    align-self: center;
    outline: solid;
    border: none;
    border-radius: 10px;
    background: #014d4e;
    cursor: pointer;
    color: white;
    font-weight: bold;
    &:hover{
      background: #002728;
      transform: translateY(-3px);
    }
}
.navbar .submenu {
    list-style: none;
    margin: 0;
    display: none;
    position: absolute;
    top: 105%; /* Position the submenu just below the parent li */
    left: auto;
    padding: 0;
    border-radius: 10px;
    background: #014d4e;
}
.navbar .submenu li{
    font-size: 17px;
    padding: 25px;

}
.navbar .menu li:hover .submenu {
    display: block;
}
/*Main Container Start*/
.main-container {
    position: absolute;
    width: 97%;
    height: 90%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
}
.entry-form {
    display: none;
    position: absolute;
    width: 400px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #014d4e;
}
.label-container{
    padding: 0px;
    border-bottom: solid;
    border-color: white;
    text-align: center;
    & button {
      padding: 25px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
      font-weight: bold;
      font-size: 25px;
    }
    & button:hover{
      background: #002728;
    }
}
.entry-form .label-text{
    padding: 25px;
    font-size: 25px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: white;
}
.entry-container{
    text-align: center;
}
.entry-field{
    color: white;
    margin: 3px;
    padding: 25px;
    height: 40px;
    width: 75%;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
    background-color: #337071;
}
.entry-field::placeholder{
  color: white;
}
#submit-login{
    width: 100px;
    height: 50px;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    border-color: white;
    color: white;
    background: transparent;
    &:hover{
      transform: translateY(-3px);
      background: #002728;
  }
}
.social-login{
    text-align: center;
    color: white;
    padding: 0px;
    & button{
      margin: 0 5px;
      width: 40px;
      height: 40px;
      border: 0;
      outline: solid;
      border-radius: 10px;
      cursor: pointer;
      background: transparent;
      color: white;
    }
    & button:hover{
      transform: translateY(-3px);
      background: #002728;
  }
}
.entry-container .password-check a{
    color: white;
    text-decoration: none;
    padding-left: 40%;
}
.password-check{
    padding: 10px;
}
.tnc-check{
    padding: 10px;
    color: white;
    & a{
      color: white;
    }
}
#submit-register{
  width: 100px;
  height: 50px;
  border: solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
  border-color: white;
  color: white;
  background: transparent;
  &:hover{
    transform: translateY(-3px);
    background: #002728;
  }
}
.close-button {
    position: absolute;
    background: #002728;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
